@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer utilities {
	.darkModeInput {
		@apply bg-transparent px-4 py-3 outline-none  text-darkModeLight rounded-lg border-2 transition-colors duration-100 border-solid border-opacity-70 focus:border-opacity-100 border-darkModePrimary;
	}
	.darkModeButton {
		@apply bg-darkModeSecondary text-darkModeLight text-xl hover:bg-darkModePrimary hover:text-RichBlack font-bold transition-colors duration-200 p-3 rounded-md;
	}
	.darkModeButtonV2 {
		@apply bg-darkModeBackground text-darkModeLight text-xl hover:bg-darkModePrimary hover:text-RichBlack font-bold transition-colors duration-200 p-3 rounded-md;
	}
	.lightModeInput {
		@apply bg-transparent px-4 py-3 outline-none  text-darkModeLight rounded-lg border-2 transition-colors duration-100 border-solid border-opacity-70 focus:border-opacity-100 border-lightModePrimary;
	}
	.lightModeButton {
		@apply bg-lightModeSecondary text-RichBlack text-xl hover:bg-lightModePrimary hover:text-white font-bold transition-colors duration-200 p-3 rounded-md;
	}
}
